@font-face {
    src: url("../font/Nanum_Pen_Script/NanumPenScript-Regular.ttf");
    font-family: 'Nanum Pen Script';
}

@font-face {
    src: url("../font/Noto_Sans_KR/NotoSansKR-Medium.otf");
    font-family: 'Noto Sans KR';
}

@font-face {
    src: url("../font/nanum-square-round/NanumSquareRoundB.ttf");
    font-family: 'NanumSquareRoundB';
}