<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<div th:if="${status} == 'sales'" th:fragment="admin-main-sales" class="admin-main">
    <div class="admin-main-div">
        <div class="admin-main-backCard M-flex-column">
            <div class="admin-all-menu-top">
                <div class="admin-top-search">
                    <form class="M-flex-1 M-flex-row" id="dateForm" method="post"
                          th:action="@{/admin/sales/searchDate}">
                        <input type="date" value="" class="M-input-search" name="startDate" id="startDate">
                        <span style="font-size: 18px;margin: 0px 20px;"> ~ </span>
                        <input type="date" value="" class="M-input-search" name="endDate" id="endDate">
                        <input type="button" value="검색" onclick="searchBetweenDate()" class="M-input-search"
                               style="width: 70px; margin: 0px 20px;">

                        <input type="button" value="전체" onclick="allSearchBetweenDate()"
                               class="M-input-search"
                               style="width: 70px; margin: 0px 20px;">
                    </form>
                </div>
            </div>
            <div class="admin-menu-all-list M-font M-mini-size">
                <div class="admin-menu-all-list-div M-overlay" style="height: 70%;">
                    <table class="admin-menu-all-table">
                        <thead>
                        <tr class="admin-menu-all-table-tr">
                            <th style="width: 15%">
                                주문 시각
                            </th>
                            <th style="width: 30%; text-align: center;">
                                주문 번호
                            </th>
                            <th style="width: 15%">
                                총 금액
                            </th>
                            <th style="width: 15%">
                                주문 상태
                            </th>
                            <th style="width: 15%">
                                결제 방식
                            </th>
                            <th style="width: 15%">
                                장소
                            </th>
                        </tr>
                        </thead>
                        <tbody class="admin-sales-tbody admin-tbody M-overlay">
                        <!--                        <tr class="admin-tbody-sales-tr admin-tbody-tr" th:each="orderList : ${orderEntityList}">-->
                        <!--                            <td class="search dateSearch" style="font-size: 21px; "-->
                        <!--                                th:text="${orderList.orderDate}">-->
                        <!--                            </td>-->
                        <!--                            <td class="search" style="text-align: center;">-->
                        <!--                                <p style="display: inline-block; margin-right: 5px;"-->
                        <!--                                   th:text="${orderList.orderTelegramNo}"></p>-->
                        <!--                            </td>-->
                        <!--                            <td class="search" th:text="${orderList.orderTotalPrice}+'원'">-->
                        <!--                            </td>-->
                        <!--                            <td class="search paySearch">-->
                        <!--                                <p th:if="${orderList.orderStatus} == true">성공</p>-->
                        <!--                                <p th:unless="${orderList.orderStatus} == true">실패</p>-->
                        <!--                            </td>-->
                        <!--                            <td class="search">-->
                        <!--                                <p th:text="${orderList.orderPayStatus}"></p>-->
                        <!--                            </td>-->
                        <!--                            <td class="search">-->
                        <!--                                <p th:if="${orderList.orderPlace} == 'inner'">매장</p>-->
                        <!--                                <p th:unless="${orderList.orderPlace} == 'inner'">포장</p>-->
                        <!--                            </td>-->
                        <!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
                <div class="M-container M-font O-font-middle-size" style="height: 30%;">
                    <div style="text-align: right;padding: 10px 20px;">
                        <span style="display: inline-block">총 금액 : </span>
                        <p style="display: inline-block;" th:text="${orderTotalPrice}" id="totalPrice"></p><span
                            style="display: inline-block;">원</span>
                    </div>
                    <div class="M-flex-row" style="margin-top: 10px;">
                        <div class="M-flex-column M-flex-center" style="margin: 0px 10px;">
                            <small class="M-font menu-detail-btn" onclick="searchSalesPrint()">검색 매출표 출력
                            </small>
                        </div>
                        <!--                        <div class="M-flex-column M-flex-center" style="margin: 0px 10px;">-->
                        <!--                            <small class="M-font menu.js-detail-btn">정산 하기-->
                        <!--                            </small>-->
                        <!--                        </div>-->
                        <!--                        <div class="M-flex-column M-flex-center" style="margin: 0px 10px;">-->
                        <!--                            <small class="M-font menu.js-detail-btn">당월 매출표 출력-->
                        <!--                            </small>-->
                        <!--                        </div>-->
                        <!--                        <div class="M-flex-column M-flex-center" style="margin: 0px 10px;">-->
                        <!--                            <small class="M-font menu.js-detail-btn">당일 매출표 출력-->
                        <!--                            </small>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>