<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<!--메뉴-->
<div>
    <div th:if="${arrowStatus} == 'menu'" th:fragment="admin-menu"
         th:replace="/admin/admin-fragment/admin-main-fragment/menu/admin-main-menu-fragment.html :: admin-main-menu">
    </div>
    <div th:if="${arrowStatus} == 'sales'" th:fragment="admin-sales"
         th:replace="/admin/admin-fragment/admin-main-fragment/sales/admin-main-sales-fragment.html :: admin-main-sales">
    </div>
    <div th:if="${arrowStatus} == 'order'" th:fragment="admin-order"
         th:replace="/admin/admin-fragment/admin-main-fragment/order/admin-main-order-fragment.html :: admin-main-order">
    </div>
    <div th:if="${arrowStatus} == 'setting'" th:fragment="admin-setting"
         th:replace="/admin/admin-fragment/admin-main-fragment/setting/admin-main-setting-fragment.html :: admin-main-setting">
    </div>
</div>
</html>