<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties"/>
    <property resource="application-${spring.profiles.active}.properties"/>

    <!--로그 파일 저장 위치-->
    <property name="LOG_FILE" value="${profiles.active.log.path}"/>

    <!-- 로그 파일 이름 -->
    <property name="LOG_FILE_NAME" value="${testNm}"/>

    <!-- 콘솔 로그 일자패턴 -->
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 로그 출력 패턴 지정 -->
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 로컬 로그 -->
    <springProfile name="local">
        <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}${LOG_FILE_NAME}.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}${LOG_FILE_NAME}_%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 로그 파일 보관일자 -->
                <maxHistory>90</maxHistory>
                <!-- 로그 최대 사이즈 -->
                <totalSizeCap>20GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <logger name="me.logback" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING-FILE"/>
        </logger>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING-FILE"/>
        </root>
    </springProfile>
</configuration>
